* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  background-color: var(--bg);
}

.profilePic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(227, 7, 146);
  text-align: center;
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editBtn{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(57, 24, 0);
  border: none;
  margin-top: 1rem;
}

.editBtn:hover{
  border: 1px solid white;
}

.head{
  gap: 4rem;
  margin-bottom: 4rem;
}

.ordFav{
  padding: 1rem 2rem;
}

.ordFav:hover{
  cursor: pointer;
}


.active * {
  font-weight: bold;
  color: whtie;
  text-decoration: overline;
}

.pagesContainer {
  width: 100%;
  position: relative;

}
.page {
  width: 100%;
  padding: 15px;
  transform: translateX(0);
  border: 1px solid gray;
  transition: all 0.3s ease-in-out;
}

.page.hidden {
  position: absolute;
  left: -100%;
  pointer-events: none;
  transform: translateX(100%);
}

.ordersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4;
}

.order {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.info {
  padding: 0 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status {
  padding: 10px 15px;
  background-color: #e5e5e5;
  border-radius: 25px;
  margin: 10px 0;
  cursor: default;
}