* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  background-color: var(--bg);
}

.profilePic{
  background-image: url('../../assets/bg4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}