.bg {
    width: 100%;
    background-image: url('../../assets/bg3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


body {
  background-color: var(--bg);
 
}
  .sonImage {
    max-width: 600px;
    border-radius: 25px;
  }

  h1.title {
    font-size:10rem;
  }
  @media screen and (max-width: 700px) {
    h1.styled {
        font-size: 2.5rem;
    }

    h1.title {
      font-size: 5rem;
    }

    nav {
      background-color: black;
      max-width:100%;
      overflow:hidden;
    }

    .sonImage {
      max-width: 350px;
    }
  }

  .imagePattern {
    background-image: url('../../assets/pattern.png');
    background-size: 15%;
    background-color: rgb(14, 1, 14);
  }